ningix:
    image: g1eagle/docker_ngninx
    ports:
       - "81:80"
    volumes:
      - var/ngninx/sites-enabled:/etc/nginx/sites-enabled
      - var/ngninx/sites-available:/etc/nginx/sites-available
      - var/ngninx/log/nginx:/var/log/nginx
      - var/ngninx/home/www:/home/www
    restart: always
mysql:
    image: g1eagle/docker_mysql
    volumes:
      - var/mysql:/var/lib/mysql
    restart: always
    working_dir: /vol/mysql
glastopf:
    image: g1eagle/glastopf
    volumes:
      - var/glastopf:/vol/glastopf
      - var/glastopf1/log:/vol/glastopf/log
    ports:
       - "80:80"
    restart: always
    working_dir: /vol/glastopf
kippo:
    image: andrewmichaelsmith/kippo
    volumes:
       - var/kippo:/vol/kippo
    ports:
       - "22:2222"
    restart: always
    working_dir: /vol/kippo
dionaea:
    image: andrewmichaelsmith/dionaea
    volumes:
       - var/dionaea:/vol/dionaea
    ports:
       - "21:21"
       - "42:42"
       - "81:80"       
       - "135:135"
       - "443:443"
       - "445:445"
       - "1433:1433"
       - "3306:3306"
       - "5060:5060"
       - "5061:5061"
       - "69:69/udp"
       - "5060:5060/udp"
    restart: always
