mysql:
    image: mysql
    environment:
        - MYSQL_ROOT_PASSWORD=password
    restart: always
phpmyadmin:     
    image: corbinu/docker-phpmyadmin
    environment:
        - MYSQL_USERNAME=root
    links:
        - mysql:phpmyadmin-mysql
    ports:
       - "3240:80"
glastopf:
    image: g1eagle/glastopf
    volumes:
      - var/glastopf:/vol/glastopf
      - var/glastopf1/log:/vol/glastopf/log
    links:
        - mysql:glastopf-mysql
    ports:
       - "80:80"
    restart: always
    working_dir: /vol/glastopf
kippo:
    image: andrewmichaelsmith/kippo
    volumes:
       - var/kippo:/vol/kippo
    links:
        - mysql:kippo-mysql
    ports:
       - "22:2222"
    restart: always
    working_dir: /vol/kippo
dionaea:
    image: andrewmichaelsmith/dionaea
    volumes:
       - var/dionaea:/vol/dionaea
    links:
        - mysql:dionaea-mysql
    ports:
       - "21:21"
       - "42:42"
       - "81:80"       
       - "135:135"
       - "443:443"
       - "445:445"
       - "1433:1433"
       - "3306:3306"
       - "5060:5060"
       - "5061:5061"
       - "69:69/udp"
       - "5060:5060/udp"
    restart: always
